body {
  font-family: 'Source Sans Pro', sans-serif;
}

.arrow {
  max-width: 14px;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #4b4949;
}

.portfolioLink {
}
.portfolioLink:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footerImg {
  max-width: 35px;
  margin: 8px;
}

@media (min-width: 768px) {
  .bioParagraph {
    margin-right: 22%;
  }
  .portfolioContent {
    margin-top: 3rem;
  }
  .portfolioItem {
    max-height: 275px;
  }
}

.btn {
  min-width: 180px;
  padding: 8px;
}

.carouselImg {
  max-height: 600px;
}
